$background: #222222;
$base: #333333;
$light: #f5f5f5;
$highlight: #2F9C95;

$border-radius: 1rem;



html, body {
    padding: 0;
    margin: 0;
    // background-color: $background;
    color: $light;

    // background: linear-gradient(-45deg, #222222, $background, #3b3b3b, #444444);
    // background-size: 400% 400%;
    // animation: gradient 30s ease infinite;

    background-color: #000000;
    background-image:  linear-gradient(30deg, #1f1f1f 12%, transparent 12.5%, transparent 87%, #1f1f1f 87.5%, #1f1f1f), linear-gradient(150deg, #1f1f1f 12%, transparent 12.5%, transparent 87%, #1f1f1f 87.5%, #1f1f1f), linear-gradient(30deg, #1f1f1f 12%, transparent 12.5%, transparent 87%, #1f1f1f 87.5%, #1f1f1f), linear-gradient(150deg, #1f1f1f 12%, transparent 12.5%, transparent 87%, #1f1f1f 87.5%, #1f1f1f), linear-gradient(60deg, #1f1f1f77 25%, transparent 25.5%, transparent 75%, #1f1f1f77 75%, #1f1f1f77), linear-gradient(60deg, #1f1f1f77 25%, transparent 25.5%, transparent 75%, #1f1f1f77 75%, #1f1f1f77);
    background-size: 74px 130px;
    background-position: 0 0, 0 0, 37px 65px, 37px 65px, 0 0, 37px 65px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        font-size: 5vw;
        text-transform: uppercase;
        font-weight: 800;
        margin: 0 auto;
    }
    p {
        opacity: 0.9;
        padding: 0;
        margin: 0;
        font-style: italic;
        font-size: 1.2em;
        letter-spacing: 0.3rem;
        font-weight: bold;
    }
}

.content {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
        text-align: center;
        height: 2rem;
    }

    .link {
        display: block;

        a {
            color: white;
            display: block;
            padding: 0.8rem 0.2rem;
            margin: 0.8rem 0;
            font-size: 1.3rem;
            text-align: center;
            border: solid 4px $highlight;
            background-color: rgba($highlight, 0.1);
            box-shadow: inset 0px 0px 6px 0px rgba(black, 0.6);
            border-radius: 10rem;

            &::before {
                content: '';
            }
            &::after {
                content: '';
            }
        }
    }

    .service {
        background-color: $base;
        padding: 1rem;
        margin-bottom: 2rem;
        max-width: 30rem;
        border-radius: $border-radius;
        box-shadow: 0 0 10px 0 #1118;

        div {
            margin: 1rem 0;
        }

        .description {
            border-bottom: solid 4px rgba(0, 0, 0, 0.8);
            padding: 1rem;
            margin-bottom: 0;
            border-radius: $border-radius;
            background-color: rgba(250, 250, 250, 0.2);
        }
    }
}

.cakedefi {
    color: black;
    background: rgb(30,30,30);
    background: linear-gradient(180deg, rgba(220,220,250,1) 50%, rgba(150,150,250,1) 100%);

    .link {
        a {
            color: black;
            border-color: #5B10FF;
            background-color: rgba(#5B10FF, 0.1);
        }
    }
}

.coinbase {
    color: black;
    background: rgb(30,30,30);
    background: linear-gradient(180deg, rgba(220,220,250,1) 60%, rgba(#4082FF,1) 100%);

    .link {
        a {
            color: black;
            border-color: #0052FF;
            background-color: rgba(#0052FF, 0.1);
        }
    }
}

.rocket {
    width: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    bottom: -3rem;
    animation: fly 10s ease-in infinite;
    animation-delay: 1s;

    .main {
        transform: rotate(-45deg);
    }
    .fumes {
        transform: rotate(90deg) translateY(1px);
        margin-top: 0.2rem;
        display: none;
    }
}

@keyframes fly {
    0% {
        bottom: -3rem;
    }
    33% {
        bottom: 105%;
    }
    100% {
        bottom: 120%;
    }
}



header {
    .logo {
      transform: translate(0%, 0%);
      display: block;
      color: #aaaaaa;
      letter-spacing: 8px;
      cursor: pointer;

      &::before {
        content: "CRYPTOCODES";
        position: absolute;
        color: transparent;
        background-image: repeating-linear-gradient(
          45deg,
          transparent 0,
          transparent 2px,
          #E8635D 2px,
          #E8635D 4px
        );
        -webkit-background-clip: text;
        top: 0px;
        left: 0;
        z-index: -1;
        transition: 1s;
      }

      &::after {
        content: "CRYPTOCODES";
        position: absolute;
        color: transparent;
        background-image: repeating-linear-gradient(
          135deg,
          transparent 0,
          transparent 2px,
          #ffffff 2px,
          #ffffff 4px
        );
        -webkit-background-clip: text;
        top: 0px;
        left: 0px;
        transition: 1s;
      }

      &:hover:before {
        top: 10px;
        left: 10px;
      }

      &:hover:after {
        top: -10px;
        left: -10px;
      }
    }
}

footer {
    padding: 8rem 0;
    background-color: rgba(#000, 0.6);
    color: #777;
    text-shadow: 0 0 4px #000;
    font-weight: 800;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    box-shadow: inset 0 15px 10px -10px #000;
    letter-spacing: 6px;
}
